{% extends 'base.html' %}

{% block body %}
    <div class="card mt-3">
        <div class="card-header d-flex justify-content-between" >
            <div>
                {{ article.title }}
            </div>
            <div>
                <a href="{% url 'articles:edit' id=article.id %}" class="btn btn-secondary">edit</a>
                <a href="{% url 'articles:delete' id=article.id %}" class="btn btn-danger">delete</a>
            </div>
        </div>
        <div class="card-body">
            {{ article.content }}
        </div>
        <div class="card-footer d-flex justify-content-between">
            {{ article.created_at }}
            <a href="{% url 'articles:index' %}">to list</a>
        </div>
    </div>
{% endblock %}