{% extends 'base.html'%}

{% block body %}
    <form action="{% url 'articles:update' id=article.id %}" class="mt-4" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="title" class="form-label">title</label>
            <input type="text" name="title" id="title" class="form-control" value="{{article.title}}">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">content</label>
            <textarea name="content" id="content" cols="30" rows="10" class="form-control">{{article.content}}</textarea>
        </div>
        <div class="d-flex justify-content-between">
            <input type="submit" value="submit" class="btn btn-primary">
            <a href="{% url 'articles:index' %}">to list</a>
        </div>
    </form>
{% endblock %}